h1 {
	color: red;
	text-decoration: underline;
	font-size: 75%;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

p.un {
	color: blue;
}

p.deux {
	color: white;
	margin: 100px;
}

p.trois {
	color: red;
}

#nom {
	font-weight: bold;
}

#nom:hover {
	cursor: pointer;
}

label {
	width: 50px;
	display: inline-block;
	float: left;
	clear: left;
}

input {
	float: left;
}

input[type="submit"] {
	clear: left;
}