header>h1 {
	position: absolute;
	top: 5px;
	left: 165px;
	color: blue;
	font-size: 36pt;
}
header>p {
	position: absolute;
	top: 75px;
	left: 400px;
	font-weight: bold;
	font-size: 18pt;
}

#pubDate,.auteur {
	font-style: italic;
	font-size: 8pt;
}
article>h1{
	color: red;
}
article {
	width: 75%;
	float: left;
}

div.liste {
	width: 25%;
	float: right;
	top: 100px;
	position: relative;
}

div.texte {
	border-style:dashed;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 25px;
	text-align: justify;
}

#logo {
	width: 145px;
	height: 126px; 
}